html {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #f2f2fc;
  background-image: url(/images/bg-top.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 225px 395px;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

@media (min-width: 1024px) {
  html {
    background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-position: right top, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 375px 658px , 353px 304px;
  }
}